<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.banxian.nameless.mapper.RoleMapper">
    <resultMap id="roleMap" type="com.banxian.nameless.entity.Role">
        <id column="id" property="id"/>
        <collection property="menuList" ofType="com.banxian.nameless.entity.Menu" column="id" select="findMenusById"/>
    </resultMap>
    <select id="findMenusById" resultType="com.banxian.nameless.entity.Menu">
        select m_menu.*
        from m_role_menu as t_relate
                 right join m_menu on t_relate.menu_id = m_menu.id
        where t_relate.role_id = #{id}
    </select>
</mapper>
